---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.092 TT 0 0.115"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 679,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                        "9780607620054",
                        "0607620056"
                    ],
                    "last_modified_i": 1272517172,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "USGS Branch of Distribution"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL79165A"
                    ],
                    "author_name": [
                        "United States Geological Survey"
                    ],
                    "author_alternative_name": [
                        "U.S. Geological Survey",
                        "Geological Survey. (U.S.)",
                        "Geological Survey (U .S.)",
                        "Geological Survey (U.S.)",
                        "Geological Survey (U. S.)",
                        "United States. Geological survey.",
                        "United States. Geological Survey",
                        "United States. Geological Survey.",
                        "Geological Survey (U.S.) 088"
                    ],
                    "publisher_facet": [
                        "USGS Branch of Distribution"
                    ],
                    "_version_": 1735677676908183553,
                    "author_facet": [
                        "OL79165A United States Geological Survey"
                    ]
                },
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
   [...]
