---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=nvLUbIFu2RkiaUD6GCa3iu3Ced4G4Yei&location=%7B:params=%3Enil%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Sep 2022 21:02:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"{:params=>nil}"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Banihal","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Jammu
        & Kashmir","adminArea3Type":"State","adminArea1":"IN","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"IN/GEO/p0/17578","unknownInput":"","type":"s","latLng":{"lat":33.34986,"lng":75.26968},"displayLatLng":{"lat":33.34986,"lng":75.26968},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=nvLUbIFu2RkiaUD6GCa3iu3Ced4G4Yei&type=map&size=225,160&locations=33.34986,75.26968|marker-sm-50318A-1&scalebar=true&zoom=12&rand=674497684"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Biswanath","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"Assam","adminArea3Type":"State","adminArea1":"IN","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY[...]
