---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664121314,"sunrise":1664110222,"sunset":1664153564,"temp":61.38,"feels_like":59.29,"pressure":1024,"humidity":44,"dew_point":39.31,"uvi":2.72,"clouds":0,"visibility":10000,"wind_speed":6.91,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664121360,"precipitation":0},{"dt":1664121420,"precipitation":0},{"dt":1664121480,"precipitation":0},{"dt":1664121540,"precipitation":0},{"dt":1664121600,"precipitation":0},{"dt":1664121660,"precipitation":0},{"dt":1664121720,"precipitation":0},{"dt":1664121780,"precipitation":0},{"dt":1664121840,"precipitation":0},{"dt":1664121900,"precipitation":0},{"dt":1664121960,"precipitation":0},{"dt":1664122020,"precipitation":0},{"dt":1664122080,"precipitation":0},{"dt":1664122140,"precipitation":0},{"dt":1664122200,"precipitati[...]
