---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT SHOW MY API KEY&lat=39.73&lon=-104.98&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664167791,"sunrise":1664110222,"sunset":1664153564,"temp":56.82,"feels_like":54.55,"pressure":1028,"humidity":50,"dew_point":38.41,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.75,"wind_deg":80,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1664167800,"precipitation":0},{"dt":1664167860,"precipitation":0},{"dt":1664167920,"precipitation":0},{"dt":1664167980,"precipitation":0},{"dt":1664168040,"precipitation":0},{"dt":1664168100,"precipitation":0},{"dt":1664168160,"precipitation":0},{"dt":1664168220,"precipitation":0},{"dt":1664168280,"precipitation":0},{"dt":1664168340,"precipitation":0},{"dt":1664168400,"precipitation":0},{"dt":1664168460,"precipitation":0},{"dt":1664168520,"precipitation":0},{"dt":1664168580,"precipitation":0},{"dt":1664168640,"precipitati[...]
